*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --text-color: #ffffff;
    --background-color: #141414;
    --container-color: #1f1f1f;
    --subtilte-color:#c5f82a;
    --link-color: #333333;
    --border: none;
    --icon: #ffffff;
    --icon-bg: #333333;
    --moon-opacity: 0;
    --sun-opacity: 1;
}
.light{
    --text-color:#000000;
    --background-color: #ebebeb;
    --container-color: #ffffff;
    --subtilte-color:#2dd228;
    --link-color: transparent;
    --border: #333333;
    --icon: #ffffff;
    --icon-bg: #333333;
    --moon-opacity: 1;
    --sun-opacity: 0;
}
body{
    height: 100dvh;
    background-color: var(--background-color);
}
p,a{
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#container{
    position: relative;
    background-color: var(--container-color);
    width: 25%;
    height: 600px;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    border-radius: 1rem;
}
#profile{
    text-align: center;
    font-family: "Inter", sans-serif;
}
#profile img{
    padding: 2rem;
    border-radius: 50%;
    height: 4rem;
}
#profile h1{
    color: var(--text-color);
    font-weight: 600;
    font-size: 22px;
}
#profile p{
    padding-bottom: 1rem;
}
.subTitle{
    color: var(--subtilte-color);
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}
#links{
    width: 100%;
}
#links ul{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
}
.item{
    width: 100%;
    height: auto;
}
.item button{
    color: var(--text-color);
    width: 100%;
    height: 40px;
    border: 1px solid var(--border);
    border-radius: .5rem;
    background-color: var(--link-color);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}
#links button:hover{
    transform: scale(1.05);
}
#theme, #sun, #moon, #icon_bg{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
#sun{
    opacity: var(--sun-opacity);
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
}
#moon{
    opacity: var(--moon-opacity);
    border: 3px solid #000000;
    border-radius: 50%;
}
#theme{
    z-index: 1;
    opacity: 0;
}